#startup {
	.container {
		margin-top: 100px;
		line-height: 24px;
		.col-md-7 {
				padding-left:0px;
			h1 {
				@include sectionh1;
			}
			h3 {
				@include sectionh3;
			}
			p {
				margin-top: 40px;
				font-size: 14px;
				color: $pColor;
			}
			div {
				margin-top: 59px;
				width: 585px;
				height: 301px;
				background-color: #8d8d8d;
			}
		}
		.col-md-5 {
			div {
				border: 1px solid black;
				i {
					line-height: 67px;
					text-align: center;
					width: 67px;
					height: 67px;
					background-color: $thirdColor;
					&:first-child {
						back-color: $secondaryColor;
					}
				}
				h3 {
					margin-left: 99px;
				}
				p {
					margin-left: 99px;
				}
			}
		}
	}
}