#newsDetails{
	.container{
		margin-top: 100px;
		h1{
			@include sectionh1;
			margin-bottom: 10px;
		}
		h3{
			@include sectionh3;
			margin-bottom:33px;
		}
		.newsImage{
			background-image: url("../../images/spacex.jpg");
			background-position: center;
			background-size: cover;
			height:428px;
		}
		.newsContent{
			background-color: $thirdColor;
			text-align:center;
			padding:63px 57px 100px 57px;
			span{
				display: block;
				&:first-child{
					font: 700 48px / 24px 'Raleway';
					margin-bottom:7px;
				}
				&:last-child{
					font: 400 16px / 24px 'Raleway';
					text-transform: uppercase;
				}
			}
			h4{
				font:500 20px / 24px 'Raleway';
				margin-top:35px;
			}
			p{
				font: 400 14px / 24px 'Karla';
				letter-spacing: 0px;
				margin-top:25px;
				margin-bottom: 57px;
			}
			button{
				@include button;
			}
		}
	}
}
