html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 24px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Karla';
  font-weight: 400; }

.row {
  margin: 0;
  padding: 0; }

.container {
  width: 1170px; }

#header {
  font-weight: 400; }
  #header .topSection {
    background-color: #e5eef0;
    color: #93a1a7;
    line-height: 48px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 1px; }
    #header .topSection .container {
      background-color: #e5eef0; }
    #header .topSection .col-md-12 {
      padding: 0px; }
      #header .topSection .col-md-12 .col-md-4 {
        padding: 0px; }
        #header .topSection .col-md-12 .col-md-4 h1 {
          font-size: 13px; }
      #header .topSection .col-md-12 .col-md-5 {
        padding: 0px;
        text-align: right; }
        #header .topSection .col-md-12 .col-md-5 i {
          margin: 0 7px; }
          #header .topSection .col-md-12 .col-md-5 i .fa-mobile {
            font-size: 25px !important; }
          #header .topSection .col-md-12 .col-md-5 i .fa-envelope-o {
            font-size: 20px !important; }
        #header .topSection .col-md-12 .col-md-5 span:first-child {
          font-size: 14px; }
        #header .topSection .col-md-12 .col-md-5 span:last-child {
          font-size: 13px; }
        #header .topSection .col-md-12 .col-md-5 li:first-child {
          padding-right: 29px;
          border-right: 1px solid #d8e3e6; }
        #header .topSection .col-md-12 .col-md-5 li:last-child {
          padding-left: 27px; }
  #header .menu {
    padding: 20px 0;
    height: 76px;
    text-transform: uppercase;
    font-size: 14.5px;
    line-height: 48px; }
    #header .menu ul li {
      padding: 0px; }
      #header .menu ul li a {
        text-decoration: none;
        color: #93a1a7;
        padding: 20px; }
        #header .menu ul li a .active {
          color: #000 !important; }
        #header .menu ul li a:hover {
          font-weight: 900; }
        #header .menu ul li a i {
          font-size: 12.5px; }
    #header .menu ul button {
      text-align: center;
      background-color: #29c2e1;
      color: #fff;
      width: 141px;
      height: 38px;
      border-radius: 60px;
      font-size: 14.5px;
      letter-spacing: 1px;
      transition-duration: 0.2s; }
      #header .menu ul button:hover {
        background-color: #178ea6; }

#slider .container-fluid {
  position: relative;
  height: 750px;
  background-image: url(../../images/slider.png);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'Raleway';
  text-transform: uppercase;
  text-align: center;
  line-height: 30px; }
  #slider .container-fluid h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 353px; }
  #slider .container-fluid p {
    font-size: 14px;
    margin-top: 20px; }
  #slider .container-fluid ul {
    position: absolute;
    top: 691px;
    left: 900px; }
    #slider .container-fluid ul li a {
      color: rgba(255, 255, 255, 0.3);
      width: 16px;
      height: 16px; }
      #slider .container-fluid ul li a .active {
        color: #ffffff !important; }

#startup .container {
  margin-top: 100px;
  line-height: 24px; }
  #startup .container .col-md-7 {
    padding-left: 0px; }
    #startup .container .col-md-7 h1 {
      color: #23282f;
      font-size: 30px;
      font-weight: 700;
      font-family: 'Raleway';
      text-transform: uppercase;
      color: #23282f; }
    #startup .container .col-md-7 h3 {
      color: #23282f;
      font-size: 18px;
      font-weight: 400;
      font-family: 'Karla';
      text-transform: uppercase;
      margin-top: 12px;
      color: #23282f; }
    #startup .container .col-md-7 p {
      margin-top: 40px;
      font-size: 14px;
      color: #55595f; }
    #startup .container .col-md-7 img {
      margin-top: 59px;
      margin-bottom: -7px;
      width: 585px;
      height: 301px;
      background-color: #8d8d8d; }
  #startup .container .col-md-5 .row {
    position: relative;
    margin-bottom: 50px; }
    #startup .container .col-md-5 .row i {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 66px;
      font-size: 35px;
      text-align: center;
      width: 67px;
      height: 67px;
      background-color: #e5eef0;
      transition-duration: 0.2s; }
      #startup .container .col-md-5 .row i:hover {
        background-color: #f7941d;
        color: white; }
    #startup .container .col-md-5 .row h3 {
      margin-left: 99px;
      font: 700 20px / 24px 'Raleway'; }
    #startup .container .col-md-5 .row p {
      margin-left: 99px;
      margi-top: 12px;
      font: 400 14px / 24px 'Karla'; }

#clients .container-fluid {
  background-color: #e5eef0; }
  #clients .container-fluid .container {
    padding-top: 100px;
    padding-bottom: 110px; }
    #clients .container-fluid .container h1 {
      color: #23282f;
      font-size: 30px;
      font-weight: 700;
      font-family: 'Raleway';
      text-transform: uppercase;
      color: #23282f; }
    #clients .container-fluid .container h3 {
      color: #23282f;
      font-size: 18px;
      font-weight: 400;
      font-family: 'Karla';
      text-transform: uppercase;
      margin-top: 12px;
      color: #23282f;
      margin-bottom: 57px; }
    #clients .container-fluid .container .col-md-12 {
      padding: 0px; }
    #clients .container-fluid .container .col-md-1 {
      padding-left: 0px; }
    #clients .container-fluid .container .col-md-6 p {
      width: 512px;
      font: italic 15px / 24px 'Karla';
      margin-bottom: 35px; }
    #clients .container-fluid .container .col-md-6 span {
      margin-top: 6px; }
      #clients .container-fluid .container .col-md-6 span span {
        display: block;
        color: #f5a24c;
        letter-spacing: 1px; }
    #clients .container-fluid .container .col-md-5 .col-md-4 .clientPhoto {
      width: 132px;
      height: 132px;
      background-color: #8d8d8d;
      background-size: cover;
      background-position: center;
      border-radius: 100%; }
    #clients .container-fluid .container .col-md-5 .col-md-4 .client1 {
      background-image: url("../../images/billGates.jpg"); }
    #clients .container-fluid .container .col-md-5 .col-md-4 .client2 {
      background-image: url("../../images/elonMusk.jpg"); }
    #clients .container-fluid .container .col-md-5 .col-md-4 .client3 {
      background-image: url("../../images/dennisRitchie.jpg"); }
    #clients .container-fluid .container .col-md-5 .col-md-4 .active {
      background-color: #f7941d; }
    #clients .container-fluid .container .col-md-5 ul {
      margin-top: 12px;
      position: absolute;
      left: 48px; }
      #clients .container-fluid .container .col-md-5 ul li {
        padding: 0 3px;
        margin: 0px; }
        #clients .container-fluid .container .col-md-5 ul li a {
          color: #b3cacf;
          width: 12px;
          height: 12px; }
        #clients .container-fluid .container .col-md-5 ul li .active {
          background-color: transparent !important;
          color: #29c2e1; }

#features .container-fluid .container {
  padding-top: 40px; }
  #features .container-fluid .container .col-md-12 {
    padding: 60px 0 0 0; }
    #features .container-fluid .container .col-md-12:last-child {
      padding-bottom: 138px;
      border-bottom: 1px solid #e5eef0;
      background-image: url(../../images/orange-shape.png), url(../../images/blue-shape.png);
      background-position: bottom right, 90% 100%;
      background-repeat: no-repeat; }
    #features .container-fluid .container .col-md-12 h1 {
      color: #23282f;
      font-size: 30px;
      font-weight: 700;
      font-family: 'Raleway';
      text-transform: uppercase;
      color: #23282f; }
    #features .container-fluid .container .col-md-12 > h3 {
      color: #23282f;
      font-size: 18px;
      font-weight: 400;
      font-family: 'Karla';
      text-transform: uppercase;
      margin-top: 12px;
      color: #23282f; }
    #features .container-fluid .container .col-md-12 .col-md-1 {
      text-align: center; }
      #features .container-fluid .container .col-md-12 .col-md-1:first-child {
        padding-left: 0;
        margin-left: -2px; }
      #features .container-fluid .container .col-md-12 .col-md-1 i {
        background-color: #e5eef0;
        width: 68px;
        line-height: 68px;
        color: #000;
        font-size: 32px;
        background-color: #e5eef0; }
        #features .container-fluid .container .col-md-12 .col-md-1 i:hover {
          background-color: #f7941d;
          color: #fff; }
    #features .container-fluid .container .col-md-12 .col-md-3 {
      padding-left: 8px; }
      #features .container-fluid .container .col-md-12 .col-md-3:last-child {
        padding-right: 0px; }
      #features .container-fluid .container .col-md-12 .col-md-3 h3 {
        font-size: 20px;
        font-family: 'Raleway'; }
      #features .container-fluid .container .col-md-12 .col-md-3 p {
        font-size: 14px;
        font-family: 'Karla';
        margin-top: 15px; }
  #features .container-fluid .container button {
    text-align: center;
    background-color: #29c2e1;
    color: #fff;
    width: 141px;
    height: 38px;
    border-radius: 60px;
    font-size: 14.5px;
    letter-spacing: 1px;
    transition-duration: 0.2s; }
    #features .container-fluid .container button:hover {
      background-color: #178ea6; }

#pricing .container-fluid .container .col-md-12 {
  padding-left: 0px; }
  #pricing .container-fluid .container .col-md-12:first-child {
    margin-top: 100px; }
    #pricing .container-fluid .container .col-md-12:first-child h1 {
      color: #23282f;
      font-size: 30px;
      font-weight: 700;
      font-family: 'Raleway';
      text-transform: uppercase;
      color: #23282f; }
    #pricing .container-fluid .container .col-md-12:first-child h3 {
      color: #23282f;
      font-size: 18px;
      font-weight: 400;
      font-family: 'Karla';
      text-transform: uppercase;
      margin-top: 12px;
      color: #23282f; }
  #pricing .container-fluid .container .col-md-12:last-child {
    margin-top: 43px;
    margin-bottom: 99px; }
    #pricing .container-fluid .container .col-md-12:last-child .col-md-3:first-child {
      padding-left: 0; }
    #pricing .container-fluid .container .col-md-12:last-child .col-md-3:last-child {
      padding-right: 0; }
    #pricing .container-fluid .container .col-md-12:last-child .col-md-3 .plan {
      position: relative;
      border: 1px solid #e6edee;
      height: 424px; }
      #pricing .container-fluid .container .col-md-12:last-child .col-md-3 .plan .planName {
        border-bottom: 1px solid #e6edee;
        padding: 36px 0 13px 0; }
        #pricing .container-fluid .container .col-md-12:last-child .col-md-3 .plan .planName h1 {
          font-size: 20px;
          font-weight: bold;
          font-family: 'Raleway';
          text-transform: uppercase; }
      #pricing .container-fluid .container .col-md-12:last-child .col-md-3 .plan .planPrice {
        padding: 20px 0 60px 0; }
        #pricing .container-fluid .container .col-md-12:last-child .col-md-3 .plan .planPrice p {
          font-size: 18px;
          font-family: 'Raleway'; }
          #pricing .container-fluid .container .col-md-12:last-child .col-md-3 .plan .planPrice p span {
            color: #f7941d; }
      #pricing .container-fluid .container .col-md-12:last-child .col-md-3 .plan .planDetails {
        line-height: 36px;
        font-size: 15px;
        font-family: 'Karla'; }
      #pricing .container-fluid .container .col-md-12:last-child .col-md-3 .plan button {
        position: absolute;
        right: 60px;
        bottom: 37px;
        text-align: center;
        background-color: #29c2e1;
        color: #fff;
        width: 141px;
        height: 38px;
        border-radius: 60px;
        font-size: 14.5px;
        letter-spacing: 1px;
        transition-duration: 0.2s; }
        #pricing .container-fluid .container .col-md-12:last-child .col-md-3 .plan button:hover {
          background-color: #178ea6; }
    #pricing .container-fluid .container .col-md-12:last-child .col-md-3 .recommended {
      -webkit-box-shadow: 0px 0px 138px -55px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 138px -55px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 138px -55px rgba(0, 0, 0, 0.75); }
      #pricing .container-fluid .container .col-md-12:last-child .col-md-3 .recommended img {
        position: absolute;
        top: 0px;
        left: 0px; }

#team .container-fluid {
  background-color: #e5eef0; }
  #team .container-fluid .container .col-md-12 {
    padding-left: 0px; }
    #team .container-fluid .container .col-md-12:first-child {
      margin-top: 100px; }
      #team .container-fluid .container .col-md-12:first-child h1 {
        color: #23282f;
        font-size: 30px;
        font-weight: 700;
        font-family: 'Raleway';
        text-transform: uppercase;
        color: #23282f; }
      #team .container-fluid .container .col-md-12:first-child h3 {
        color: #23282f;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Karla';
        text-transform: uppercase;
        margin-top: 12px;
        color: #23282f; }
    #team .container-fluid .container .col-md-12:last-child {
      margin-top: 38px;
      margin-bottom: 98px; }
      #team .container-fluid .container .col-md-12:last-child .col-md-3:first-child {
        padding-left: 0; }
      #team .container-fluid .container .col-md-12:last-child .col-md-3:last-child {
        padding-right: 0; }
      #team .container-fluid .container .col-md-12:last-child .col-md-3 .member {
        background-color: #fff; }
        #team .container-fluid .container .col-md-12:last-child .col-md-3 .member .imgContainer {
          width: 100%;
          height: 276px;
          overflow: hidden; }
          #team .container-fluid .container .col-md-12:last-child .col-md-3 .member .imgContainer img {
            width: 100%;
            height: 276px; }
        #team .container-fluid .container .col-md-12:last-child .col-md-3 .member .content {
          padding: 30px 28px 32px 30px; }
          #team .container-fluid .container .col-md-12:last-child .col-md-3 .member .content h4 {
            font-family: 'Karla';
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px; }
          #team .container-fluid .container .col-md-12:last-child .col-md-3 .member .content p {
            color: #f7941d; }
          #team .container-fluid .container .col-md-12:last-child .col-md-3 .member .content ul {
            margin-top: 13px; }
            #team .container-fluid .container .col-md-12:last-child .col-md-3 .member .content ul a {
              color: #adbdc1; }
              #team .container-fluid .container .col-md-12:last-child .col-md-3 .member .content ul a:hover {
                color: #51666b; }

#onemonthfree .container-fluid .container {
  border-bottom: 1px solid #e6edee;
  padding: 100px 0;
  letter-spacing: 1px; }
  #onemonthfree .container-fluid .container h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Raleway'; }
  #onemonthfree .container-fluid .container p {
    font-size: 13px;
    font-family: 'Raleway';
    text-transform: uppercase;
    margin-top: 14px; }
  #onemonthfree .container-fluid .container ul {
    margin-top: 30px; }
    #onemonthfree .container-fluid .container ul li:first-child button {
      text-align: center;
      background-color: #29c2e1;
      color: #fff;
      width: 141px;
      height: 38px;
      border-radius: 60px;
      font-size: 14.5px;
      letter-spacing: 1px;
      transition-duration: 0.2s; }
      #onemonthfree .container-fluid .container ul li:first-child button:hover {
        background-color: #178ea6; }
    #onemonthfree .container-fluid .container ul li:last-child button {
      text-align: center;
      background-color: #29c2e1;
      color: #fff;
      width: 141px;
      height: 38px;
      border-radius: 60px;
      font-size: 14.5px;
      letter-spacing: 1px;
      transition-duration: 0.2s;
      background-color: #f7941d; }
      #onemonthfree .container-fluid .container ul li:last-child button:hover {
        background-color: #178ea6; }
      #onemonthfree .container-fluid .container ul li:last-child button:hover {
        background-color: #a85e06; }

#footer .footer {
  background-image: url(../../images/blue_background.png);
  background-position: bottom right;
  background-repeat: no-repeat; }
  #footer .footer .footerTop {
    background-image: url(../../images/orange_background.png);
    background-position: bottom left;
    background-repeat: no-repeat; }
    #footer .footer .footerTop .container {
      padding: 75px 0px 80px 15px;
      border-bottom: 1px solid #e6edee; }
      #footer .footer .footerTop .container .col-md-12 {
        padding-left: 0px; }
        #footer .footer .footerTop .container .col-md-12:first-child .col-md-1 {
          padding-left: 0px; }
        #footer .footer .footerTop .container .col-md-12:first-child h3 {
          font-size: 18px;
          font-family: 'Raleway';
          line-height: 24px;
          font-weight: 700; }
        #footer .footer .footerTop .container .col-md-12:last-child {
          text-transform: uppercase;
          color: #93a1a7;
          line-height: 35px;
          font-family: 'Karla';
          font-size: 14px;
          letter-spacing: 2px; }
          #footer .footer .footerTop .container .col-md-12:last-child a {
            color: #93a1a7;
            transition-duration: 0.2s; }
            #footer .footer .footerTop .container .col-md-12:last-child a:hover {
              color: black;
              text-decoration: none; }
          #footer .footer .footerTop .container .col-md-12:last-child span {
            color: #000; }
          #footer .footer .footerTop .container .col-md-12:last-child .newsletter {
            padding-right: 0px; }
            #footer .footer .footerTop .container .col-md-12:last-child .newsletter input {
              display: inline-block;
              width: 220px;
              height: 40px;
              border: 1px solid #29c2e1;
              padding-left: 19px;
              color: #93a1a7; }
            #footer .footer .footerTop .container .col-md-12:last-child .newsletter button {
              text-align: center;
              background-color: #29c2e1;
              color: #fff;
              width: 141px;
              height: 38px;
              border-radius: 60px;
              font-size: 14.5px;
              letter-spacing: 1px;
              transition-duration: 0.2s;
              border-radius: 0;
              width: 42px;
              height: 40px;
              margin-top: -1px; }
              #footer .footer .footerTop .container .col-md-12:last-child .newsletter button:hover {
                background-color: #178ea6; }
  #footer .footer .footerBottom {
    padding: 22px 0px 74px 0;
    text-transform: uppercase;
    font-family: 'Karla';
    font-size: 14px;
    letter-spacing: 2px; }

#pageContact .map {
  padding: 100px 0 75px 0;
  border-bottom: 1px solid #e6edee; }
  #pageContact .map h1 {
    color: #23282f;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Raleway';
    text-transform: uppercase;
    color: #23282f; }
  #pageContact .map h3 {
    color: #23282f;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Karla';
    text-transform: uppercase;
    margin-top: 12px;
    color: #23282f;
    text-transform: uppercase; }
  #pageContact .map .map {
    background-color: #8d8d8d;
    height: 417px;
    margin-top: 31px;
    position: relative; }
    #pageContact .map .map a {
      color: #f7941d;
      position: absolute;
      font-size: 50px;
      top: 190px;
      right: 411px;
      transition-duration: 0.2s; }
      #pageContact .map .map a:hover {
        color: #d97a08; }
  #pageContact .map .details {
    margin-top: 74px; }
    #pageContact .map .details .col-md-4 {
      text-align: center; }
      #pageContact .map .details .col-md-4 i {
        border: 1px solid #29c2e1;
        border-radius: 100%;
        color: #23282f;
        padding: 20px;
        font-size: 25px;
        width: 67px;
        height: 67px;
        margin-bottom: 24px; }
      #pageContact .map .details .col-md-4 p {
        font: 400 16px / 24px 'Karla';
        text-transform: uppercase;
        letter-spacing: 1px; }
#pageContact .form {
  padding: 75px 0 167px 0;
  border-bottom: 1px solid #e6edee; }
  #pageContact .form h1 {
    color: #23282f;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Raleway';
    text-transform: uppercase;
    color: #23282f;
    text-align: center;
    margin-bottom: 30px; }
  #pageContact .form input {
    background-color: #e3eef0;
    border: none;
    font: 400 13px / 20px 'Karla';
    text-transform: uppercase;
    padding: 19px 24px;
    width: 100%;
    margin-bottom: 15px; }
    #pageContact .form input::placeholder {
      color: #000 !important; }
  #pageContact .form .col-md-6:first-child {
    padding-left: 0px; }
  #pageContact .form .col-md-6:last-child {
    padding-right: 0px; }
  #pageContact .form button {
    margin-top: 16px;
    text-align: center;
    background-color: #29c2e1;
    color: #fff;
    width: 141px;
    height: 38px;
    border-radius: 60px;
    font-size: 14.5px;
    letter-spacing: 1px;
    transition-duration: 0.2s; }
    #pageContact .form button:hover {
      background-color: #178ea6; }

#pageHeader {
  background-image: url(../../images/slider.png);
  background-size: cover;
  background-position: center;
  height: 310px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 123px; }
  #pageHeader h1 {
    font: 700 48px / 30px 'Raleway';
    color: #ffffff; }
  #pageHeader p {
    margin-top: 19px;
    font: 500 14px / 30px 'Raleway';
    color: #fff; }

/*# sourceMappingURL=style.css.map */
